{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<h2><a href="{% url  'AppArticlesName:PathlistName' %}"> logo </a></h2>
<header>
    <nav>
        <ul>

            {% if  user.is_authenticated %}
                <li>

                    <form class="logout-link" action="{% url 'AppAccountsName:PathLogoutName' %}" method="post">

                        {% csrf_token %}
                        <button type="submit">logout</button>
                    </form>

                </li>
                <li>
                    <a class="highlight"   href="{% url 'AppArticlesName:PathCreateName' %}"> create new article </a>

                </li>
            {% else %}
                <li>
                    <a href="{% url 'AppAccountsName:PathLoginName' %}"> login user </a>

                </li>

                <li>

                    <a href="{% url 'AppAccountsName:PathSignupName' %}">signup new user</a>

                </li>

            {% endif %}
        </ul>

    </nav>

</header>

<div class='wrapper'>
    {% block content %}
    {% endblock %}
</div>
</body>

</html>