 {% extends 'base.html' %}

<title>
    {% block title %}
        Title article
    {% endblock %}
</title>

{% block content %}
    <div class="container">
        <p>'new article list'</p>
        {% for perArticle in VarTableArticle %}
            <h2><a href="{% url 'AppArticlesName:PathDetailName' perArticle.slug %} "> {{ perArticle.title }}  </a></h2>
            <p>{{ perArticle.title }}</p>
            <p>{{ perArticle.slug }}</p>
            <p>{{ perArticle.snippet }}</p>
            <p>{{ perArticle.date }}</p>
        {% endfor %}
    </div>

{% endblock %}